@using WebUI.domain.Models.TransactionServiceModels;
@model DepositViewModel

@{ViewBag.Title = "Deposit";}

<section class="templatemo-bg-image-1">
    <div class="container">
        <div class="col-md-12">
            <form class="form-horizontal templatemo-login-form-2" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Deposit</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="templatemo-one-signin col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label asp-for="Amount" class="control-label">Amount</label>
                                <div class="templatemo-input-icon-container">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" asp-for="Amount" placeholder="">
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary text-center">Deposit</button>
                </div>
            </form>
        </div>
    </div>
    </section>