@{
    ViewData["Title"] = "Success";
}

<div class="homePage-start">
    <div class="row">
        <div class="col">
            <img src="~/images/Fintech-image.png" class="" alt="ShEx" />
        </div>
        <div class="col">

            @if (TempData["WithdrawSuccess"] != null)
            {
            <h1>@TempData["WithdrawSuccess"]</h1>
            }

        </div>
    </div>
</div>
