@using WebUI.domain.Controllers;

@{
    ViewData["Title"] = "Add Role";
}


<form method="post" asp-action="AddRole" asp-controller="Role">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Role</button>
        </span>
    </div>
</form>