@{ ViewData["Title"] = "Home-Page"; }
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Hello</h1>
    <p>Checking it out</p>
    <a asp-action="Register" asp-controlle="Home">Register</a>

    <span>
        <a class="btn btn-primary" asp-action="Delete">Delete</a>
    </span>

</body>
</html>