@{ ViewData["Title"] = "Home-Page"; }
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Hello</h1>
    <p>Checking it out</p>
    <a asp-action="Register" asp-controller="Home">Register</a>

    <span>
        <a asp-page="Home" asp-action="Register">Reg</a>
    </span>

</body>
</html>