


<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <div>
            <h1>Hello</h1>

            <a href="@Url.Action("Register", "home")">
                Click Here To Register
            </a>

        </div>
        
        
    </div>
 
    
</body>
</html>