@using WebUI.domain.Models.AccountControllerModels
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Default Password";
}

<section class="login-start templatemo-bg-image-1">
    <div class="container">
        <div class="col-md-12">
            <form class="form-horizontal templatemo-login-form-2" role="form" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>Change your Password to proceed</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="templatemo-one-signin col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label asp-for="CurrentPassword" class="control-label">Current Password</label>
                                <div class="templatemo-input-icon-container">
                                    <i class="fa fa-user"></i>
                                    <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="" />
                                    <span asp-validation-for="CurrentPassword" class="text-white-50"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label asp-for="NewPassword" class="control-label">New Password</label>
                                <div class="templatemo-input-icon-container">
                                    <i class="fa fa-lock"></i>
                                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="">
                                    <span asp-validation-for="NewPassword" class="text-white-50"></span>
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Change Password" class="btn btn-warning">
                            </div>
                        </div>                        
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</section>

