@using WebUI.domain.Model
@model AddUserViewModel
@{
    ViewBag.Title = "Add User";
}

<section>
    <div>
        <h1>
            Add User
        </h1>
    </div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group col-xl-4">
                <label asp-for="FirstName">First Name:</label>
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group col-xl-4">
                <label asp-for="LastName">Last Name:</label>
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group col-xl-4">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div> 
            <button type="submit" class="btn btn-primary text-center">Add User</button>

        </form>
    </div>

</section>

