@using Microsoft.AspNetCore.Identity
@using OnlineBanking.Domain.Entities
@using WebUI.domain.Middlewares

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var roles = string.Join(',', User.GetUserRoles());
}



@if (SignInManager.IsSignedIn(User))
{
    <li class="scroll-to-section">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="HomePage">Home</a>
    </li>
    <li class="scroll-to-section">
        <a asp-controller="Account" asp-action="Manage" class="nav-link text-dark" title="Manage">Hello! (@roles)</a>
    </li>

    <form  class="logout-form"asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home")">
        <button id="logout" type="submit" class="btn btn-lg btn-outline-warning" >Logout</button>
    </form>
}
else
{
    <li class="scroll-to-section">
        <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="Login">Login</a>
    </li>   

        <li class="scroll-to-section"><a href="#about">About Us</a></li>
        <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Contact Now</a></div></li>


}